@import './fonts.scss';

html {
    margin: 0;
    
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
}

@import './header.scss';
@import './layout.scss';